* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';
}
body {
    background: url('../images/chalkboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#canvas {
    margin-top: 40px;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: #ddd;
    margin-top: 50px;
}
footer, footer a {
    color: #fff;
    text-align: center;
    margin-top: 40px;
}